<%- include('partials/header.ejs'); -%>
<%- include('partials/navbar.ejs'); -%>

    <div id="about">
        <div id="h1">
            <p>Hi, I'm Attila.</p>
        </div>
        <div id="textbox">
            <p>A full stack web developer, based in Madrid, Spain.</p>
        </div>
    </div>
    
<%- include('partials/footer.ejs'); -%>