<%- include('partials/header.ejs'); -%>
<%- include('partials/navbar.ejs'); -%>

<div id="work">
    <div id="cards">
        <div class="card">
            <img class="card-image" src="/images/gigglehub.gif" />
            <div class="buttons">
                <button class="live-button" onclick="window.location.href='https://joke-express-yj3te.ondigitalocean.app'">View live</button>
                <span>"Gigglehub"</span>
                <button class="source-button" onclick="window.location.href='https://github.com/costatee/joke_express'">Source code</button>
            </div>
        </div>
        <div class="card">
            <img class="card-image" src="/images/gigglehub.gif" />
            <div class="buttons">
                <button class="live-button" onclick="window.location.href='https://joke-express-yj3te.ondigitalocean.app'">View live</button>
                <span>"Gigglehub"</span>
                <button class="source-button" onclick="window.location.href='https://github.com/costatee/joke_express'">Source code</button>
            </div>
        </div>
        <div class="card">
            <img class="card-image" src="/images/gigglehub.gif" />
            <div class="buttons">
                <button class="live-button" onclick="window.location.href='https://joke-express-yj3te.ondigitalocean.app'">View live</button>
                <span>"Gigglehub"</span>
                <button class="source-button" onclick="window.location.href='https://github.com/costatee/joke_express'">Source code</button>
            </div>
        </div>
        <div class="card">
            <img class="card-image" src="/images/gigglehub.gif" />
            <div class="buttons">
                <button class="live-button" onclick="window.location.href='https://joke-express-yj3te.ondigitalocean.app'">View live</button>
                <span>"Gigglehub"</span>
                <button class="source-button" onclick="window.location.href='https://github.com/costatee/joke_express'">Source code</button>
            </div>
        </div>
    </div>
</div>
    
<%- include('partials/footer.ejs'); -%>